.container {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  padding: 0 20px;
  font-family: "Raleway", sans-serif;
  border-bottom: 1px solid oklch(92.8% 0.006 264.531);
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 ;
    .nav,
    .logo,
    .right-nav {
      flex: 1;
      .search-icon {
        width: 20px;
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      padding-left: 0;
      align-items: center;
      li {
        list-style: none;
        position: relative;
        a {
          margin: 0 10px 0 0;
          font-size: 14px;
          font-weight: 600;
          position: relative;
          color: #151515;
          text-transform: capitalize;
          text-decoration: none;

          &::after {
            position: absolute;
            content: "";
            bottom: -5px;
            height: 2px;
            background-color: #000;
            left: 50%;
            width: 0;
            transition: width 0.3s ease 0s, left 0.3s;
          }
          &:hover::after {
            width: 100%;
            left: 0;
          }
        }
      }
    }
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 25px;
        color: #000;
      }
    }
    .right-nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      a {
        text-decoration: none;
        margin: 0 8px;
        color: black;
      }
      
    }
  }
}
.about {
  width: 100%;
  text-align: center;
  margin-top: 120px;
  font-family: "Raleway", sans-serif;
  h1 {
    text-transform: uppercase;
    font-size: 36px;
  }
  p {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: #52525b;
  }
}
