.error-page {
    text-align: center;
    background-color: #F3F4F6;
    padding: 80px 0;
    border-radius: 5px;
    p {
        color: #4B5563;
        font-size: 16px;
        strong {
            color: #000;
        }
    }
    .loading {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .loader {
            animation: spin 1s linear infinite;
            color: #2563EB;
        }
        span {
            color: #2563EB;
            margin-left: 10px;
        }
    }
    @keyframes spin {
    to {
      transform: rotate(360deg);
    }
}
p {
    color: #4B5563;
    font-size: 14px;
}
}