.wear-container {
  border-bottom: 1px solid #e5e5e5;
  padding: 50px 32px;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  .filter {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 0 50px 0;
    .active {
      background-color: #000;
      color: #fff;
    }
    button {
      margin: 0 5px;
      height: 40px;
      text-transform: capitalize;
      padding: 10px 20px;
      border-radius: 30px;
      border: 1px solid #151515;
      font-weight: 500;
      font-size: 14px;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
    .repeat {
      width: 40px;
      height: 40px;
      padding: 0;
    }
  }
  .wear-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    .wear-card {
      flex: 0 0 23%;
      background-color: #fff;
      border-radius: 10px;
      padding: 0 0 16px;
      img {
        width: 100%;
        height: auto;
        background-color: #e3e3e6;
        max-height: 200px;
        object-fit: contain;
        margin-bottom: 12px;
      }
      .wear-card-text {
        width: 100%;
        padding: 0 10px;
        h2 {
          font-size: 16px;
          margin-bottom: 8px;
          font-weight: 600;
          text-overflow: ellipsis;
          overflow: hidden;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          max-width: 320px;
        }
        p {
          margin: 4px 0;
          color: #444;
        }
        .prices {
          width: 100%;
          display: flex;
          flex-direction: row;
          font-size: 18px;
          .price {
            margin-right: 10px;
            font-weight: 700;
          }
          .promo-price {
            font-style: normal;
            text-decoration: line-through;
          }
        }
        button {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-top: 10px;
          padding: 10px;
          border-radius: 5px;
          background-color: #0000;
          color: #151515;
          border: 1px solid #1515154d;
          width: calc(100% - 20px);
          transition: all 0.3s ease-in-out;
          font-weight: 500;
          cursor: pointer;
          &:hover {
            background-color: #333;
            color: #fff;
          }
        }
      }
    }
  }
}
